.zync-login-button {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 191px;
  height: 46px;
}

.zync-pass {
  display: flex;
  width: 75%;
  flex-direction: row;
  justify-content: center;
}

.zync-pass-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #488CFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px 20px 10px;
}

.zync-login-logo {
  margin-top: 20px;
  margin-bottom: 10px;
}

.zync-login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  background-color: #ffffff;
  overflow: hidden;
  width: 450px;
  min-height: 400px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.zync-form-entry {
  width: 75%;
}

.zync-welcome, .zync-setup-title {
  font-size: 20px;
  margin-bottom: 3px;
}

.zync-setup-title {
  font-size: 25px;
}

.zync-welcome-subtitle {
  color: gray;
  margin-bottom: 15px;
}